# Exploration des données

Ce notebook présente les données du challenge et les analyse.

In [38]:
import pandas as pd
import seaborn as sns

In [39]:
# Extraction des données
X_train = pd.read_csv('../data/raw/x_train_final.csv')
y_train = pd.read_csv('../data/raw/y_train_final_j5KGWWK.csv')

X_train.head()

,Unnamed: 0.1,Unnamed: 0,train,gare,date,arret,p2q0,p3q0,p4q0,p0q2,p0q3,p0q4
0,0,0,VBXNMF,KYF,2023-04-03,8,0.0,0.0,1.0,-3.0,-1.0,-2.0
1,1,1,VBXNMF,JLR,2023-04-03,9,0.0,0.0,0.0,1.0,0.0,1.0
2,2,2,VBXNMF,EOH,2023-04-03,10,-1.0,0.0,0.0,-1.0,0.0,0.0
3,3,3,VBXNMF,VXY,2023-04-03,11,-1.0,-1.0,0.0,2.0,-2.0,0.0
4,4,4,VBXNMF,OCB,2023-04-03,12,-1.0,-1.0,-1.0,-1.0,3.0,2.0

In [40]:
# Suppression des colonnes du triplon d'index 

X_train = X_train.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])
y_train = y_train.drop(columns=['Unnamed: 0'])

X_train.head()

    train gare        date  arret  p2q0  p3q0  p4q0  p0q2  p0q3  p0q4
0  VBXNMF  KYF  2023-04-03      8   0.0   0.0   1.0  -3.0  -1.0  -2.0
1  VBXNMF  JLR  2023-04-03      9   0.0   0.0   0.0   1.0   0.0   1.0
2  VBXNMF  EOH  2023-04-03     10  -1.0   0.0   0.0  -1.0   0.0   0.0
3  VBXNMF  VXY  2023-04-03     11  -1.0  -1.0   0.0   2.0  -2.0   0.0
4  VBXNMF  OCB  2023-04-03     12  -1.0  -1.0  -1.0  -1.0   3.0   2.0

In [41]:
# Détection des données dupliquées
X_train.duplicated().sum()

np.int64(0)

In [42]:
# Détection des données vides ou incomplètes
pd.concat([X_train, y_train], axis = 1).isnull().any()

train    False
gare     False
date     False
arret    False
p2q0     False
p3q0     False
p4q0     False
p0q2     False
p0q3     False
p0q4     False
p0q0     False
dtype: bool

In [43]:
df_train = pd.concat([X_train, y_train], axis = 1)
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667264 entries, 0 to 667263
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   train   667264 non-null  object
 1   gare    667264 non-null  object
 2   date    667264 non-null  object
 3   arret   667264 non-null  int64
 4   p2q0    667264 non-null  float64
 5   p3q0    667264 non-null  float64
 6   p4q0    667264 non-null  float64
 7   p0q2    667264 non-null  float64
 8   p0q3    667264 non-null  float64
 9   p0q4    667264 non-null  float64
 10  p0q0    667264 non-null  float64
dtypes: float64(7), int64(1), object(3)
memory usage: 56.0+ MB

In [44]:
# Donner à la variable date un format de date pandas
X_train['date'] = pd.to_datetime(X_train['date'])